@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;700&display=swap');

$container-max-widths: (
  lg: 800px,
  xl: 800px
);

@import '~bootstrap/scss/bootstrap-grid.scss';

// body {
//   font-family: "Source Code Pro", sans-serif;
//   font-size: 14px;
//   line-height: 20px;
//   color: #A9B7C6;
//   background-color: #2B2B2B;
//   padding: 32px 25px 16px 25px;
// }

/* General */

// ul, li {
//   list-style: none;
// }

// strong {
//   font-weight: normal;
//   color: #CC7832;
// }

// a {
//   cursor: pointer;
//   color: #A5C25C;
//   text-decoration: none;
//   text-shadow: 1px 1px 0 #2B2B2B, -1px 1px 0 #2B2B2B, 2px 0 0 #2B2B2B, -2px 0 0 #2B2B2B;
//   box-shadow: inset 0 -1px 0 0 #2B2B2B, inset 0 -2px 0 0 #A5C25C;
// }

/* Headings */

// h1 {
//   font-size: 14px;
//   color: #FFC66D;
//   margin-bottom: 16px;
//   font-weight: normal;
// }

// h1:before {
//   content: '/* ';
// }

// h1:after {
//   content: ' */';
// }

/* Text */

// p {
//   margin-left: 25px;
//   margin-top: 16px;
//   margin-bottom: 16px;
//   text-align: justify;
// }

/* "Comment"-style texts */

// .comment {
//   color: #808080;
// }

// .comment:before {
//   content: '[';
// }

// .comment:after {
//   content: ']';
// }

/* Lists */

// ul {
//   margin-left: 25px;
//   margin-top: 16px;
//   margin-bottom: 16px;
// }

// li:before {
//   content: '- ';
// }

/* Mobile */

// @media (max-width: 700px) {
//   p, ul, .project-description {
//     margin-left: 0px;
//   }

//   ul.big-list li {
//     margin-bottom: 16px;
//   }
// }